body {
    background-color: #393E46;
}

h1 {
  color: #EEEEEE;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: #00ADB5;
    text-align: center;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: arial;
  font-size: 11px;
  color: #FFB703
  }